@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";


.App {
    min-height: 100vh;
    /* Full screen height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Vertical center */
    align-items: center;
    /* Horizontal center */
    text-align: center;
    font-family: 'Bitcount Single', sans-serif;
    background: linear-gradient(135deg, #1f2937, #111827);
}