@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

.App {
    text-align: center;
    font-family: 'Bitcount Single', sans-serif;
    background-color: #282c34;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}